body {
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    margin: 0;
}

button {
    margin: 0;
    outline: none;
    border: none;
}

h1 {
    font-size: 56px;
    margin-top: 0;
    margin-bottom: 36px;
}

h2 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 25px;
}

h3 {
    font-size: 20px;
    margin: 0;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.page-header {
    background-color: #FAFAFA;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    padding: 36px 34px 36px 80px;
    align-items: center;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 30px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 150px;
    color: #F7941E;
    border: 1px solid #F7941E;
    border-radius: 5px;
    background-color: #FAFAFA;
}

.link {
    text-decoration: none;
    color: black;
}

.section-gift-work {
    background-color: #F1F1F2;
}

.gift p,
.work p {
    font-size: 20px;
}

.wrapper-gift-work {
    display: flex;
    justify-content: space-between;
}

.gift {
    padding: 152px 125px 117px 160px;
}

.button-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 200px;
    border-radius: 5px;
}

.button-primary {
    color: #FFFFFF;
    background-color: #F7941E;
    margin-top: 50px;
}

.work {
    padding: 165px 165px 105px 100px;
}

.button-hollow {
    color: #F7941E;
    border: 1px solid #F7941E;
    margin-top: 35px;
}

.section-gifts-cards {
    background: #FFFFFF;
}

.gifts-cards-text {
    text-align: center;
    padding: 95px 0 65px 0;
}



.gifts-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 30px;
    padding: 0;

}

.card {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #FAFAFA;
    width: 270px;
    transition: all ease .3s;
}

.card:hover {
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
    background: #FFFFFF;
}

.background-cards {
    padding: 24px;
}

.background-cards h3 {
    margin-bottom: 75px;
}